*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: bisque;
}
.colors{
    height: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid black;
    background-color: white;
}

.cyrcle{
    border:1px solid  black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.cyrcle:hover{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    transition: (0.3ms);
}

.big{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    
}



.box{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: white;
}

.line{
    display: flex;
    align-items: center;
    justify-content: center;
}